= form_for @service, html: { class: 'form-horizontal' } do |f|
  .span6
    .control-group
      = f.label :image, class: 'control-label'
      .controls
        = f.text_field :image, class: 'text_field'
    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, class: 'text_field'
    .control-group
      = f.label :title, class: 'control-label'
      .controls
        = f.text_field :title, class: 'text_field'
    .control-group
      = f.label :type, class: 'control-label'
      .controls
        = f.text_field :type, class: 'text_field'
    .control-group
      = f.label :slug, class: 'control-label'
      .controls
        = f.text_field :slug, class: 'text_field'
  .span6
    .control-group
      = f.label :text, class: 'control-label'
      .controls
        = f.text_area :text, class: 'text_area', rows: 5
    .control-group
      = f.label :short_description, class: 'control-label'
      .controls
        = f.text_area :short_description, class: 'text_area', rows: 5
  .clearfix
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), services_path, class: 'btn'
