%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2013/01/14/home-row-tip-2-without-leaving-the-home-row-scroll-updown-a-webpage/", :rel => "bookmark"} Home Row Tip #2: Without Leaving the Home Row, Scroll Up/Down a&nbsp;Webpage
  .comments-link
    %a{:href => "http://unixsuperhero.com/2013/01/14/home-row-tip-2-without-leaving-the-home-row-scroll-updown-a-webpage/#respond", :title => "Comment on Home Row Tip #2: Without Leaving the Home Row, Scroll Up/Down a&nbsp;Webpage"}
      %span.leave-reply Leave a reply
  / .comments-link
/ .entry-header
.entry-content
  %h3 The Home Row is Good.  Your Mouse is Evil.
  %p
    To scroll down: &nbsp;
    %strong> Spacebar
    \.
  %p
    To scroll up:
    %strong Shift
    = succeed "&amp;nbsp;" do
      %strong +
    %strong Spacebar
    %strong .
  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  and tagged
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/home-row/", :rel => "tag"} home row
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/homerow/", :rel => "tag"} homerow
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/keyboard-shortcuts/", :rel => "tag"} keyboard shortcuts
  %a{:href => "http://unixsuperhero.com/tag/no-mouse/", :rel => "tag"} no mouse
  on
  %a{:href => "http://unixsuperhero.com/2013/01/14/home-row-tip-2-without-leaving-the-home-row-scroll-updown-a-webpage/", :rel => "bookmark", :title => "2:37 am"}
    %time.entry-date{:datetime => "2013-01-14T02:37:35+00:00"} January 14, 2013
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=136&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
