%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2013/02/20/home-row-tip-4-quickly-access-something-from-a-macs-menu-bar/", :rel => "bookmark"} Home Row Tip #4: Quickly Access Something from a Mac’s Menu&nbsp;Bar
  .comments-link
    %a{:href => "http://unixsuperhero.com/2013/02/20/home-row-tip-4-quickly-access-something-from-a-macs-menu-bar/#respond", :title => "Comment on Home Row Tip #4: Quickly Access Something from a Mac’s Menu&nbsp;Bar"}
      %span.leave-reply Leave a reply
  / .comments-link
/ .entry-header
.entry-content
  %h3 The Home Row is Good. Your Mouse is Evil.
  %p We’ve all been told to, “Click File, then Save As, blah blah blah.”
  %p With a few simple steps, you can access a menu really quickly, and never touch your mouse. &nbsp;Ready?
  %ol
    %li
      %span{:style => "line-height:1.714285714;font-size:1rem;"}
        %strong Cmd+?
        (Cmd+Shift+/) – This will bring up the Help menu.
    %li
      %span{:style => "line-height:1.714285714;font-size:1rem;"}
        Start typing the Menu Item you want to “click”, such as “
        %strong> Sav
        ” for “Save as”
    %li
      %span{:style => "line-height:1.714285714;font-size:1rem;"}
        Once you find it, use
        %strong Ctrl+n
        or
        %strong Ctrl+p
        to highlight it.
    %li
      %span{:style => "line-height:1.714285714;font-size:1rem;"}
        Press
        = succeed "." do
          %strong Enter
  %p
    %span{:style => "font-size:1rem;line-height:1.714285714;"} Winning? =p
  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  and tagged
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/help-menu/", :rel => "tag"} help menu
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/home-row/", :rel => "tag"} home row
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/homerow/", :rel => "tag"} homerow
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/keyboard-shortcuts/", :rel => "tag"} keyboard shortcuts
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/no-mouse/", :rel => "tag"} no mouse
  %a{:href => "http://unixsuperhero.com/tag/simple-steps/", :rel => "tag"} simple steps
  on
  %a{:href => "http://unixsuperhero.com/2013/02/20/home-row-tip-4-quickly-access-something-from-a-macs-menu-bar/", :rel => "bookmark", :title => "2:57 am"}
    %time.entry-date{:datetime => "2013-02-20T02:57:27+00:00"} February 20, 2013
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=196&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
