%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2013/04/10/chrome-tip-login-to-a-site-with-2-accounts-at-the-same-time/", :rel => "bookmark"} Chrome Tip: Login to a site with 2 accounts at the same&nbsp;time
  .comments-link
    %a{:href => "http://unixsuperhero.com/2013/04/10/chrome-tip-login-to-a-site-with-2-accounts-at-the-same-time/#respond", :title => "Comment on Chrome Tip: Login to a site with 2 accounts at the same&nbsp;time"}
      %span.leave-reply Leave a reply
  / .comments-link
/ .entry-header
.entry-content
  %p Let’s say you have 2 facebook accounts, or 2 gmail accounts.  This is how you login to both of them, at the same time.  Without logging out of the first one.
  %ol
    %li Login to the first account, as usual.
    %li Then, open an Incognito Window.
    %li Login to the second account.
  %p Tada!  Now you are logged into 2 accounts at the same time.
  %p Note: The max is 2 accounts.  All incognito windows share the same session.
  %p
    %sub login to multiple accounts on a site at the same time
  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  and tagged
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/chrome/", :rel => "tag"} chrome
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/google-chrome/", :rel => "tag"} google chrome
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/incognito/", :rel => "tag"} incognito
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/incognito-window/", :rel => "tag"} incognito window
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/login-2-accounts/", :rel => "tag"} login 2 accounts
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/multiple-accounts/", :rel => "tag"} multiple accounts
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/multiple-logins/", :rel => "tag"} multiple logins
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/multiple-sessions/", :rel => "tag"} multiple sessions
  %a{:href => "http://unixsuperhero.com/tag/two-sessions/", :rel => "tag"} two sessions
  on
  %a{:href => "http://unixsuperhero.com/2013/04/10/chrome-tip-login-to-a-site-with-2-accounts-at-the-same-time/", :rel => "bookmark", :title => "2:59 am"}
    %time.entry-date{:datetime => "2013-04-10T02:59:58+00:00"} April 10, 2013
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=321&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
