%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2013/01/14/home-row-1-quickly-navigate-webpages-without-a-mouse/", :rel => "bookmark"} Home Row Tip #1: Quickly Navigate&nbsp;Webpages
  .comments-link
    %a{:href => "http://unixsuperhero.com/2013/01/14/home-row-1-quickly-navigate-webpages-without-a-mouse/#comments", :title => "Comment on Home Row Tip #1: Quickly Navigate&nbsp;Webpages"} 2 Replies
  / .comments-link
/ .entry-header
.entry-content
  %h3 The Home Row is Good.  Your Mouse is Evil.
  %pre
    :preserve
      tl;dr
  %ol
    %li Cmd + F
    %li [find link]
    %li Press ESC
    %li Press Enter
  %p If your job, or favorite hobby, involves a computer. &nbsp;Your keyboard can be your greatest tool. &nbsp;If you live a sad existence, (like me) it can be your best friend. &nbsp;Your mouse, on the other hand, slows you down (if you type fast). &nbsp;If you haven’t learned that yet you will sooner or later. &nbsp;You don’t have to take my word for it.
  %p The time you will save may seem small, or insignificant at first. &nbsp;But, the same way nickles and dimes add up, so will your time. &nbsp;Here is an example.
  %p If you are on a webpage, and you want to click a link labeled “Tips on XX Long Live the Keyboard!”, there are many ways to do it. &nbsp;Using the Tab key to just from element to element on the page. &nbsp;You can even use the mouse, but that’s dirty. &nbsp;The quickest way I have found, is using your browsers “Find” or “Search” feature. &nbsp;Here are the steps:
  %ol
    %li
      Use the
      %strong keyboard shortcut
      to start the search (Ctrl+F or Cmd+F)
    %li
      Then
      %strong search
      for something unique in the link, eg. “Long Live”.
    %li
      When the search has highlighted the letters in the link. &nbsp;
      %strong> Press ESC
      \.
    %li
      Your browser will then leave the link highlighted. &nbsp;Now you can
      = succeed "." do
        %strong Press Enter
    %li Enjoy the next page…
  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  and tagged
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/home-row/", :rel => "tag"} home row
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/homerow/", :rel => "tag"} homerow
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/keyboard-shortcuts/", :rel => "tag"} keyboard shortcuts
  %a{:href => "http://unixsuperhero.com/tag/no-mouse/", :rel => "tag"} no mouse
  on
  %a{:href => "http://unixsuperhero.com/2013/01/14/home-row-1-quickly-navigate-webpages-without-a-mouse/", :rel => "bookmark", :title => "2:12 am"}
    %time.entry-date{:datetime => "2013-01-14T02:12:33+00:00"} January 14, 2013
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=131&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
