%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2013/01/14/my-keyboard-setup/", :rel => "bookmark"} My Keyboard&nbsp;Setup
  .comments-link
    %a{:href => "http://unixsuperhero.com/2013/01/14/my-keyboard-setup/#respond", :title => "Comment on My Keyboard&nbsp;Setup"}
      %span.leave-reply Leave a reply
  / .comments-link
/ .entry-header
.entry-content
  %p Basically, the only change I’ve made is:
  %ul
    %li
      %span{:style => "line-height:14px;"}
        Set&nbsp;
        %strong Caps Lock
        to&nbsp;
        %strong Ctrl
  %p If you use Vim or Emacs, this will save your left hand from a lot of pain.
  %p Another tip, if you use Vim or &nbsp;Emacs:
  %p
    Instead of leaving the Home Row to press ESC, hold &nbsp;
    %strong Ctrl
    and hit&nbsp;
    %strong> [
    \. &nbsp;This fires the same control code that the ESC key fires.
  %p Other Ctrl combinations that are equivalent to other keys:
  %p
    %strong Ctrl + i
    \= Tab
  %p
    %strong> Ctrl + m&nbsp;
    \= Enter
  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  and tagged
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/emacs/", :rel => "tag"} emacs
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/home-row/", :rel => "tag"} home row
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/homerow/", :rel => "tag"} homerow
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/keyboard-shortcuts/", :rel => "tag"} keyboard shortcuts
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/no-mouse/", :rel => "tag"} no mouse
  %a{:href => "http://unixsuperhero.com/tag/vim/", :rel => "tag"} Vim
  on
  %a{:href => "http://unixsuperhero.com/2013/01/14/my-keyboard-setup/", :rel => "bookmark", :title => "3:26 am"}
    %time.entry-date{:datetime => "2013-01-14T03:26:55+00:00"} January 14, 2013
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=158&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
