%header.entry-header
  %h1.entry-title
    %a{:href => "http://unixsuperhero.com/2012/10/10/fix-gcc-and-segfault-issues-with-newer-versions-of-ruby-on-lion/", :rel => "bookmark"} fix gcc and segfault issues with newer versions of ruby on&nbsp;lion
  .comments-link
    %a{:href => "http://unixsuperhero.com/2012/10/10/fix-gcc-and-segfault-issues-with-newer-versions-of-ruby-on-lion/#respond", :title => "Comment on fix gcc and segfault issues with newer versions of ruby on&nbsp;lion"}
      %span.leave-reply Leave a reply
  / .comments-link
/ .entry-header
.entry-content
  %p
    I have had a lot of issues after I upgraded to OS X Lion.  Mostly because of a common XCode issue.  Then I got it to work temporarily with a specific package apple released that is just the cli tools for osx.  Then I had some luck with an llvm version of gcc.  Not one of these solutions was perfect.  I was reading the
    %a{:href => "https://github.com/kennethreitz/osx-gcc-installer"} osx-gcc-installer
    README.  I saw that if you had Homebrew, you could install apple-gcc42:
  %pre
    :preserve
      # pull in the repo with apple-gcc42 (homebrew/dupes aka github.com/Homebrew/homebrew-dupes)
      brew tap homebrew/dupes
      brew install apple-gcc42  %p This didn’t work for me.  Because you can’t compare a flow to a symbol (:lion).  So, I changed the symbol to “10.7″, no quotes.  Tried brew install again.  It worked.  Then I just reinstalled my ruby, gems, and everything has been fine since.  Yes, this was rushed.  Here are the commands I ran, thanks to reading “rvm requirements”.
  %pre
    :preserve
      rvm requirements
      brew install libksba #not sure if this is necessary
      vim /usr/local/Library/Formula/apple-gcc42.rb # :%s/:lion/10.7/c
      brew install apple-gcc42
      rvm install 1.9.3  #jp-post-flair.sharedaddy.sd-like-enabled.sd-sharing-enabled
/ .entry-content
%footer.entry-meta
  This entry was posted in
  %a{:href => "http://unixsuperhero.com/category/uncategorized/", :rel => "category tag", :title => "View all posts in Uncategorized"} Uncategorized
  and tagged
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/1-9-3/", :rel => "tag"} 1.9.3
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/bugfix/", :rel => "tag"} bugfix
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/compile-error/", :rel => "tag"} compile error
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/gc/", :rel => "tag"} gc
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/gcc/", :rel => "tag"} gcc
  = succeed "," do
    %a{:href => "http://unixsuperhero.com/tag/homebrew/", :rel => "tag"} homebrew
  %a{:href => "http://unixsuperhero.com/tag/ruby/", :rel => "tag"} ruby
  on
  %a{:href => "http://unixsuperhero.com/2012/10/10/fix-gcc-and-segfault-issues-with-newer-versions-of-ruby-on-lion/", :rel => "bookmark", :title => "4:03 pm"}
    %time.entry-date{:datetime => "2012-10-10T16:03:38+00:00"} October 10, 2012
  = succeed "." do
    %span.by-author
      by
      %span.author.vcard
        %a.url.fn.n{:href => "http://unixsuperhero.com/author/unixsuperhero/", :rel => "author", :title => "View all posts by unixsuperhero"} unixsuperhero
  %span.edit-link
    %a.post-edit-link{:href => "http://unixsuperhero.wordpress.com/wp-admin/post.php?post=47&amp;action=edit", :title => "Edit Post"} Edit
/ .entry-meta
