= form_for @banner, html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :html, class: 'control-label'
    .controls
      = f.text_area :html, class: 'text_area', rows: 5
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admins_banners_path, class: 'btn'
