- model_class = Banner
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:html) + ':'
  %br
  = banner.html

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), admins_banners_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_admins_banner_path(banner), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), admins_banner_path(banner), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
