%h2= "#{klass.pattern_name.titleize}"

%hr
%h3 Motivation
.step
  %p= klass.motivation

%hr
%h3 Steps
- klass.steps.each_with_index do |step,i|
  %hr
  .step
    %h4= "Step #{i+1}: #{step[:name]}"
    %p= step[:description]
    .inline
      %b Before
      %pre= raw IO.read(step[:filenames].first)
    .inline
      %b After
      %pre= raw IO.read(step[:filenames].last)
