- model_class = Page
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:slug)
      %th= model_class.human_attribute_name(:content)
      %th= model_class.human_attribute_name(:meta_tag)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:breadcrumb_name)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @pages.each do |page|
      %tr
        %td= link_to page.id, admins_page_path(page)
        %td= page.slug
        %td= page.content
        %td= page.meta_tag
        %td= page.title
        %td= page.breadcrumb_name
        %td=l page.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admins_page_path(page), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admins_page_path(page), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_admins_page_path, :class => 'btn btn-primary'
