- model_class = Expert
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:text_line_1)
      %th= model_class.human_attribute_name(:text_line_2)
      %th= model_class.human_attribute_name(:bio)
      %th= model_class.human_attribute_name(:image)
      %th= model_class.human_attribute_name(:slug)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @experts.each do |expert|
      %tr
        %td= link_to expert.id, admins_expert_path(expert)
        %td= expert.name
        %td= expert.text_line_1
        %td= expert.text_line_2
        %td= expert.bio
        %td= expert.image
        %td= expert.slug
        %td=l expert.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admins_expert_path(expert), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admins_expert_path(expert), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_admins_expert_path, :class => 'btn btn-primary'
