
%pre
  :escaped
    params[:experiment]: #{params[:experiment].inspect}
    params[:act]: #{params[:act].inspect}

%p
  Test links:
  %ul
    %li= link_to "/route", route_exp_path
    - paths = %w{ one one/two one/two/three }
    - paths.each do |pth|
      %li= link_to "/route/#{pth}", "/route/#{pth}"

