
Todo Coming Soon...

%hr

%h3 Site
%ul.spaced
  %li= link_to 'Change Routes', todo_path(:change_routes)

%h3 Content
%ul.spaced
  %li= link_to 'Routes Cheatsheet', todo_path(:routes_cheatsheet)

%h3 General
%ul.spaced
  %li= link_to 'Cleanup Shell Startup Scripts', todo_path(:optimize_cli_startup)

%h3 Saveology
%ul.spaced
  %li= link_to 'Refactor / Redesign TDSM', todo_path(:refactor_tdsm)
  %li= link_to 'Refactor / Redesign YesMail', todo_path(:refactor_yesmail)

