
Todo Coming Soon...

%hr

%h3 Site
%ul
  %li= link_to 'Subsection Possibilities', '/todo/lib-subsection'
  %li= link_to 'Change Routes', '/todo/change_routes'

%h3 Content
%ul
  %li= link_to 'Routes Cheatsheet', '/todo/routes_cheatsheet'

%h3 General
%ul
  %li= link_to 'Cleanup Shell Startup Scripts', '/todo/optimize_cli_startup'

%h3 Saveology
%ul
  %li= link_to 'Refactor / Redesign TDSM', '/todo/refactor_tdsm'
  %li= link_to 'Refactor / Redesign YesMail', '/todo/refactor_yesmail'

