- model_class = Testimonial
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @testimonial.name
%p
  %strong= model_class.human_attribute_name(:location) + ':'
  %br
  = @testimonial.location
%p
  %strong= model_class.human_attribute_name(:testimonial) + ':'
  %br
  = @testimonial.testimonial
%p
  %strong= model_class.human_attribute_name(:image) + ':'
  %br
  = @testimonial.image
%p
  %strong= model_class.human_attribute_name(:slug) + ':'
  %br
  = @testimonial.slug
%p
  %strong= model_class.human_attribute_name(:plan_id) + ':'
  %br
  = @testimonial.plan_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), testimonials_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_testimonial_path(@testimonial), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), testimonial_path(@testimonial), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
