<!DOCTYPE html>
<html>
<head>
  <title>Mytechhelp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row-fluid">
    <div class="span12">
      <ul id="navigation">
        <li><a href="/admins/banners">Banners</a></li>
        <li><a href="/admins/brands">Brands</a></li>
        <li><a href="/admins/campaigns">Campaigns</a></li>
        <li><a href="/admins/experts">Experts</a></li>
        <li><a href="/admins/pages">Pages</a></li>
        <li><a href="/admins/plans">Plans</a></li>
        <li><a href="/admins/services">Services</a></li>
        <li><a href="/admins/testimonials">Testimonials</a></li>
      </ul>
      <div class="clearfix"></div>
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </div>

</body>
</html>
