!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    - if content_for?(:title)
      %title= yield(:title)
    - else
      %title Default Title

    = csrf_meta_tags

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.png"
    :sass
      body
        padding: 10px
      .navigation li
        list-style: none
        a
          border-left: solid 1px black
          padding-left: 3px
        a:first-child
          border-left: none
%body
  .row-fluid
    .span12
      %b Navigation
      %ul.navigation
        %li
          %a(href="/") Home
      %b Experiments
      %ul.navigation
        %li
          %a(href=pseudo_enumerable_test_path) Ruby Enumerable Pattern
  .row-fluid
    .span12
      .clearfix
      - flash.each do |k,v|
        %p(class=k)= v
      = yield

